
body{
    background-color: rgb(153, 226, 196);
}

hr{
    
    border-style: none;
    border-top-style: dotted;
    border-color: goldenrod;
    border-width: 5px;
    width: 10%;
}
h1{
    color: darkslategray;
}
h3{
    color: darkslategray;
}
p{
    color: brown;
}
ul{
    color: brown;
}